/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
html,
body,
#root,
ion-app,
ion-content,
#phaser-game {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
}

canvas {
    display: block;
}

body {
    margin: 0;
    background: #1a1a1a; /* side bars */
    overflow: hidden;
}

.gamediv {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    position: absolute;
    padding: 0;
    overflow: hidden;
}